{%- assign page_paths = site.data.samplelist.nav -%}

<style>
  @media screen and (max-width: 700px) {
    .sidebar {
      position: absolute;
      margin: 0;
      overflow-x: hidden;
    }
  }

  @media screen and (min-width: 700px) {
    .sidebar {
      width: 25%;
      position: absolute;
      margin: 0;
      overflow-x: hidden;
    }
  }

  .sidebar a {
    color: black;
  }

  .sidebar ul {
    list-style-type: none;
  }

  .dropdown-content {
    display: none;
    position: relative;
    z-index: 1;
  }

  .dropdown-content a {
    display: block;
    color: black;
    background: white;
    text-align: left;
  }

  .show {display:block;}

  .wrapper {
    margin-left: 25%;
  }

</style>

<div class="sidebar">
  <ul>
  {%- for page1 in page_paths -%}
      {% if page1.subnav %}
        <li class="dropdown" data-name = "{{ page1.title }}"> {{ page1.title }} ▼
          <ul id="{{ page1.title }}" class="dropdown-content">
              {%- for page2 in page1.subnav -%}
                <a href="{{ page2.url }}">{{ page2.title }}</a>
              {%- endfor -%}
          </ul>
        </li>
      {% else %}
        <li><a href="{{ page1.url }}">{{ page1.title }}</a></li>
      {%- endif -%}
  {%- endfor -%}
  </ul>
</div>


<script>
  document.addEventListener('click', function (e) {
    var target = e.target;
    if (target.tagName && target.tagName.toLowerCase() == "li") {
      document.getElementById(target.dataset.name).classList.toggle("show");
    }
  });
</script>
