<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <body>

    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      {%- include navbar.html -%}

      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <!-- {%- include footer.html -%} -->

  </body>

  <script src="/assets/scripts/copyCode.js"></script>

  <!--katex begin-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body, {
          delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
          ]
        });"></script>
  <!--katex end-->
</html>
